tools/install-checkin-receiver/
dcs-stats/.dev
.dev
dcs-stats/.demo
.demo
.php-sessions/

.php-sessions/
dcs-stats/site-config/data/*.json
!dcs-stats/site-config/data/.htaccess
dcs-stats/site-config/data/api-cache/
dcs-stats/api_config.json
dcs-stats/site_config.json
dcs-stats/menu_config.json
dcs-stats/custom_theme.css
dcs-stats/header_custom.css
*.pdf
php-preview.err.log
php-preview.out.log
